<p id="notice"><%= notice %></p>

<h1>Stack Book Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Isbn</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stack_book_events.each do |stack_book_event| %>
      <tr>
        <td><%= stack_book_event.title %></td>
        <td><%= stack_book_event.author %></td>
        <td><%= stack_book_event.isbn %></td>
        <td><%= stack_book_event.date %></td>
        <td><%= link_to 'Show', stack_book_event %></td>
        <td><%= link_to 'Edit', edit_stack_book_event_path(stack_book_event) %></td>
        <td><%= link_to 'Destroy', stack_book_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stack Book Event', new_stack_book_event_path %>
