%h1 積んだ本リスト
.book-container
  - @stack_book_events.each do |stack_book_event|
    = link_to( stack_book_event) do
      .book
        .book-img
          %img{ src: stack_book_event.image }
        .book-detail
          .book-title
            .title.h5= stack_book_event.title
          .book-author-date
            .author.h6= stack_book_event.author
            .date.h6= stack_book_event.date.to_date()
= link_to '本を積む', new_stack_book_event_path, class:"btn-lg btn-primary btn-abs"
