%h1 New Stack Book Event

= simple_form_for(@stack_book_event) do |f|
  .form-group
    = f.input :isbn
  .form-group
    = f.input :title, readonly: true
  .form-group
    = f.input :author, readonly: true
  .form-group
    = f.input :date, readonly: true
  .form-actions
    = f.submit
%div
  %button#getBookInfo.btn.btn-default 書籍情報取得
%div
  %p#thumbnail
= link_to 'Back', stack_book_events_path
:javascript
  $(function() {
      $('#getBookInfo').click( function( e ) {
          e.preventDefault();
          const isbn = $("#stack_book_event_isbn").val();
          const url = "https://api.openbd.jp/v1/get?isbn=" + isbn;

          $.getJSON( url, function( data ) {
              if( data[0] == null ) {
                  alert("データが見つかりません");
              } else {
                  if( data[0].summary.cover == "" ){
                      $("#thumbnail").html('<img src=\"\" />');
                  } else {
                      $("#thumbnail").html('<img src=\"' + data[0].summary.cover + '\" style=\"border:solid 1px #000000\" />');
                  }
                  $("#stack_book_event_title").val(data[0].summary.title);
                  $("#stack_book_event_author").val(data[0].summary.author);
              }
          });
      });
  });
