%h1 New Stack Book Event
= form_with(model: @stack_book_event, local: true) do |form|
  - if @stack_book_event.errors.any?
    #error_explanation
      %h2
        = pluralize(@stack_book_event.errors.count, "error")
        prohibited this stack_book_event from being saved:
      %ul
        - @stack_book_event.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :isbn
    = form.text_field :isbn
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :author
    = form.text_field :author
  .field
    = form.label :date
    = form.datetime_select :date
  .actions
    = form.submit

%div
  %button#getBookInfo.btn.btn-default 書籍情報取得
%div
  %p#thumbnail
%div
  書籍名：
  %input#title{:name => "title", :type => "text", :value => ""}/
%div
  著者名：
  %input#author{:name => "author", :type => "text", :value => ""}/
%div
  サムネイルURI：
  %input#cover{:name => "cover", :type => "text", :value => ""}/
= link_to 'Back', stack_book_events_path
:javascript
  $(function() {
      $('#getBookInfo').click( function( e ) {
          e.preventDefault();
          const isbn = $("#stack_book_event_isbn").val();
          const url = "https://api.openbd.jp/v1/get?isbn=" + isbn;

          $.getJSON( url, function( data ) {
              if( data[0] == null ) {
                  alert("データが見つかりません");
              } else {
                  if( data[0].summary.cover == "" ){
                      $("#thumbnail").html('<img src=\"\" />');
                  } else {
                      $("#thumbnail").html('<img src=\"' + data[0].summary.cover + '\" style=\"border:solid 1px #000000\" />');
                  }
                  $("#stack_book_event_title").val(data[0].summary.title);
                  $("#stack_book_event_author").val(data[0].summary.author);
              }
          });
      });
  });