!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title ツンドク図書館
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"data-toggle"=>"collapse", "data-target"=>"#navbarMenu"}
              %span.sr-only Toggle navigation
              - if current_user
                %span.icon-bar
              - else
                %span.icon-bar
                %span.icon-bar
            = link_to "ツンドク図書館", root_path, :class=>'navbar-brand'
          #navbarMenu.collapse.navbar-collapse
            - if current_user
              %ul.nav.navbar-nav.navbar-right
                %li
                  = link_to "本棚", book_shelves_path
                %li
                  = link_to "積んだ本", stack_book_events_path
                %li
                  = link_to "ログアウト", :logout, method: :post
            - else
              %ul.nav.navbar-nav.navbar-right
                %li
                  = link_to "ユーザ登録", new_user_path
                %li
                  = link_to "ログイン", :login
      %div
        - if flash[:notice]
          %p#notice.alert.alert-info= flash[:notice]
        - if flash[:alert]
          %p#alert.alert.alert-info= flash[:alert]
    .container
      = yield
